<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <title>{% block title %}{% endblock %}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="Web site created using gulp"/>
    <link href="/static/css/main.css" rel="stylesheet" >
    <script defer src="/static/js/main.js"></script>
</head>
<body>

{% block page %}{% endblock %}

</body>

</html>